@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Login</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/PL.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>
    <body>
        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="wrapper">
                <div class="logo">
                    <img src="~/Imagen/Login.gif">
                </div>
                <form class="p-3 mt-3">
                    <div class="form-field d-flex align-items-center">
                        <i class="bi bi-person-bounding-box"></i>
                        @*<input type="text" name="userName" id="userName" placeholder="Username">*@
                        @Html.TextBoxFor(model => model.UserName, new { @class = "hidden form-control", placeholder="Username" })
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        @*<input type="password" name="password" id="pwd" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.Password, new { @class = "hidden form-control", placeholder="Password" })
                    </div>
                    @*<button class="btn mt-3">Login</button>*@
                    @Html.ActionLink("Login", "Login", "Usuario", htmlAttributes: new { @class = "btn mt-3" })
                </form>
                @*<div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
            </div>*@
            </div>
        }
    
        @*<div class='dashboard'>
            <div class="dashboard-nav">
                <header>
                    <a href="#" class="brand-logo"><i class="bi bi-person-circle"></i>
                        <span>BRAND</span>
                    </a>
                </header>
                <nav class="dashboard-nav-list">
                    <div class="nav-item-divider"></div>
                    <a href="#" class="dashboard-nav-item"><i class="bi bi-person-home"></i>Home</a>
                    <a href="#" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i> dashboard</a>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Upload </a>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
                    <div class="nav-item-divider"></div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
                <div class='dashboard-content'>
                    <div class='container'>
                        <div class='card'>
                            <div class='card-header'>
                                
                            </div>
                            <div class='card-content'>
                                <h5>Prueba</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </body>
</html>

